/* #dff9fb #95afc0  */

@font-face {
  font-family: "isans";
  src: url("./../fonts/iransans/IRANSansWeb.eot") format("eot"),
    /* IE6–8 */ url("./../fonts/iransans/IRANSansWeb.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("./../fonts/iransans/IRANSansWeb.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-weight: bold;
}

*,
::after,
::before {
  box-sizing: unset !important;
  font-family: "isans";
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#container {
  background-color: #f1f5fa;
}
