/* #dff9fb #95afc0  */

@font-face {
  font-family: "isans";
  src: url("./../fonts/iransans/IRANSansWeb.eot") format("eot"),
    /* IE6–8 */ url("./../fonts/iransans/IRANSansWeb.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("./../fonts/iransans/IRANSansWeb.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  font-weight: bold;
}

*,
::after,
::before {
  box-sizing: unset !important;
  font-family: "isans";
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#container {
  background-color: #f1f5fa;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  place-items: center;
  /* gap: 40px; */
  backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(223, 249, 251, 0.25);
  border: 1px solid rgba(223, 249, 251, 0.25);
  /* border-radius: 12px; */
  min-height: 100vh;
  overflow: auto;
  /* -webkit-overflow-scrolling: touch; */
}

.menu a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #3f5b78;
  transition: 300ms;
  border-radius: 8px;
}

.menu a:hover {
  background-color: #dff9fb;
  color: #95afc0;
}
